/** Styles for the theme: Base */

/* Style for the main element */
.tchmi-trend-line-chart{
    background: #D7D7D9;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.6);
}
.tchmi-trend-line-chart-template-chart{
    background: rgba(255, 255, 255, 0.5);
}

.tchmi-trend-line-chart-template-tooltip .tchmi-trend-line-chart-template-tooltip-text{
    background: #EDEDED;
    color: #4794da;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.6);
    border-radius: 6px;
    padding: 5px;
}

.tchmi-trend-line-chart-template-tooltip .tchmi-trend-line-chart-template-tooltip-text table{
    text-align: left;
    border-collapse: collapse;
    border: none; /** No border defined */
    width:100%;
}

.tchmi-trend-line-chart-template-tooltip-time-table{
    margin-bottom:10px;
}

.tchmi-trend-line-chart-template-tooltip-time-table tr td:first-child {
    font-weight:bold;
}

.tchmi-trend-line-chart-template-tooltip .tchmi-trend-line-chart-template-tooltip-text table tr {
}

.tchmi-trend-line-chart-template-tooltip .tchmi-trend-line-chart-template-tooltip-text table td, th{
    padding: 5px;
}

.tchmi-trend-line-chart-template-tooltip .tchmi-trend-line-chart-template-tooltip-text table td {
    max-width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.tchmi-trend-line-chart-template-tooltip-arrow {
    background: #EDEDED;
}

.tchmi-trend-line-chart-template-menu-bar>.tchmi-button, .tchmi-trend-line-chart-template-menu-bar-dropdown>.tchmi-button{
    box-shadow:none;
}

.tchmi-trend-line-chart-template-stop{
    background-image: linear-gradient(135deg, #eff1f3, #aeb9c2);
    background-repeat: no-repeat;
}
.tchmi-trend-line-chart-template-stop > div{
    background-image: url('Images/pause_normal.svg');
    background-size: 100% 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}
.tchmi-trend-line-chart-template-stop.down{
    background-image: linear-gradient(135deg, #aeb9c2, #eff1f3);
}
.tchmi-trend-line-chart-template-stop.down > div {
    background-image: url('Images/pause_pressed.svg');
    background-size: 100% 100%;
    background-position: 50% 50%;
}


.tchmi-trend-line-chart-template-panx{
    background-image: linear-gradient(135deg, #eff1f3, #aeb9c2);
    background-repeat: no-repeat;
}
.tchmi-trend-line-chart-template-panx > div{
    background-image: url('Images/panx_normal.svg');
    background-size: 100% 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}
.tchmi-trend-line-chart-template-panx.down {
    background-image: linear-gradient(135deg, #aeb9c2, #eff1f3);
}
.tchmi-trend-line-chart-template-panx.down > div {
    background-image: url('Images/panx_pressed.svg');
    background-size: 100% 100%;
    background-position: 50% 50%;
}


.tchmi-trend-line-chart-template-panxy{
    background-image: linear-gradient(135deg, #eff1f3, #aeb9c2);
    background-repeat: no-repeat;
}
.tchmi-trend-line-chart-template-panxy > div{
    background-image: url('Images/panxy_normal.svg');
    background-size: 100% 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}
.tchmi-trend-line-chart-template-panxy.down {
    background-image: linear-gradient(135deg, #aeb9c2, #eff1f3);
}
.tchmi-trend-line-chart-template-panxy.down > div {
    background-image: url('Images/panxy_pressed.svg');
    background-size: 100% 100%;
    background-position: 50% 50%;
}

.tchmi-trend-line-chart-template-zoomx {
    background-image: linear-gradient(135deg, #eff1f3, #aeb9c2);
    background-repeat: no-repeat;
}
.tchmi-trend-line-chart-template-zoomx > div {
    background-image: url('Images/zoomx_normal.svg');
    background-size: 100% 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}
.tchmi-trend-line-chart-template-zoomx.down {
    background-image: linear-gradient(135deg, #aeb9c2, #eff1f3);
}
.tchmi-trend-line-chart-template-zoomx.down > div {
    background-image: url('Images/zoomx_pressed.svg');
    background-size: 100% 100%;
    background-position: 50% 50%;
}
.tchmi-trend-line-chart-template-zoomxy {
    background-image: linear-gradient(135deg, #eff1f3, #aeb9c2);
    background-repeat: no-repeat;
}
.tchmi-trend-line-chart-template-zoomxy > div {
    background-image: url('Images/zoomxy_normal.svg');
    background-size: 100% 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}
.tchmi-trend-line-chart-template-zoomxy.down {
    background-image: linear-gradient(135deg, #aeb9c2, #eff1f3);
}
.tchmi-trend-line-chart-template-zoomxy.down > div {
    background-image: url('Images/zoomxy_pressed.svg');
    background-size: 100% 100%;
    background-position: 50% 50%;
}
.tchmi-trend-line-chart-template-reset-zoom {
    background-image: linear-gradient(135deg, #eff1f3, #aeb9c2);
    background-repeat: no-repeat;
}
.tchmi-trend-line-chart-template-reset-zoom > div {
    background-image: url('Images/zoomdel_normal.svg');
    background-size: 100% 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}
.tchmi-trend-line-chart-template-reset-zoom.down {
    background-image: linear-gradient(135deg, #aeb9c2, #eff1f3);
}
.tchmi-trend-line-chart-template-reset-zoom.down > div {
    background-image: url('Images/zoomdel_pressed.svg');
    background-size: 100% 100%;
    background-position: 50% 50%;
}
.tchmi-trend-line-chart-template-reset {
    background-image: linear-gradient(135deg, #eff1f3, #aeb9c2);
    background-repeat: no-repeat;
}
.tchmi-trend-line-chart-template-reset > div {
    background-image: url('Images/play_normal.svg');
    background-size: 100% 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}
.tchmi-trend-line-chart-template-reset.down {
    background-image: linear-gradient(135deg, #aeb9c2, #eff1f3);
}
.tchmi-trend-line-chart-template-reset.down > div {
    background-image: url('Images/play_pressed.svg');
    background-size: 100% 100%;
    background-position: 50% 50%;
}
.tchmi-button.tchmi-trend-line-chart-template-options{
    box-shadow:none;
    background:white;
}

.tchmi-button.tchmi-trend-line-chart-template-options:before {
    content: "\25bc";
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 0;
    font-size:12px;
    font-weight:normal;
    font-style:normal;
    font-family:sans-serif;
}

.tchmi-trend-line-chart-template-menu-bar {
    background: rgba(255, 255, 255, 0.5);
}

.tchmi-trend-line-chart-template-menu-bar > label {
    color: #4794da;
}

.tchmi-trend-line-chart-template-menu-bar-dropdown {
    box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.6);
    background: #ffffff;
}

/* timespanpicker and datetimepicker buttons*/
.tchmi-trend-line-chart-template-timespan-button-start{
    background-image: linear-gradient(135deg, #eff1f3, #aeb9c2);
    background-repeat: no-repeat;
}
.tchmi-trend-line-chart-template-timespan-button-start > div{
    background-image: url('Images/timespanpicker_normal.svg');
    background-size: 100% 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}
.tchmi-trend-line-chart-template-timespan-button-start.down{
    background-image: linear-gradient(135deg, #aeb9c2, #eff1f3);
}
.tchmi-trend-line-chart-template-timespan-button-start.down > div {
    background-image: url('Images/timespanpicker_pressed.svg');
    background-size: 100% 100%;
    background-position: 50% 50%;
}

.tchmi-trend-line-chart-template-datetime-button-start{
    background-image: linear-gradient(135deg, #eff1f3, #aeb9c2);
    background-repeat: no-repeat;
}
.tchmi-trend-line-chart-template-datetime-button-start > div{
    background-image: url('Images/datetimepicker_normal.svg');
    background-size: 100% 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}
.tchmi-trend-line-chart-template-datetime-button-start.down{
    background-image: linear-gradient(135deg, #aeb9c2, #eff1f3);
}
.tchmi-trend-line-chart-template-datetime-button-start.down > div {
    background-image: url('Images/datetimepicker_pressed.svg');
    background-size: 100% 100%;
    background-position: 50% 50%;
}

.tchmi-trend-line-chart-template-timespan-button-end{
    background-image: linear-gradient(135deg, #eff1f3, #aeb9c2);
    background-repeat: no-repeat;
}
.tchmi-trend-line-chart-template-timespan-button-end > div{
    background-image: url('Images/timespanpicker_normal.svg');
    background-size: 100% 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}
.tchmi-trend-line-chart-template-timespan-button-end.down{
    background-image: linear-gradient(135deg, #aeb9c2, #eff1f3);
}
.tchmi-trend-line-chart-template-timespan-button-end.down > div {
    background-image: url('Images/timespanpicker_pressed.svg');
    background-size: 100% 100%;
    background-position: 50% 50%;
}

.tchmi-trend-line-chart-template-datetime-button-end{
    background-image: linear-gradient(135deg, #eff1f3, #aeb9c2);
    background-repeat: no-repeat;
}
.tchmi-trend-line-chart-template-datetime-button-end > div{
    background-image: url('Images/datetimepicker_normal.svg');
    background-size: 100% 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}
.tchmi-trend-line-chart-template-datetime-button-end.down{
    background-image: linear-gradient(135deg, #aeb9c2, #eff1f3);
}
.tchmi-trend-line-chart-template-datetime-button-end.down > div {
    background-image: url('Images/datetimepicker_pressed.svg');
    background-size: 100% 100%;
    background-position: 50% 50%;
}
